.card-img {
    display: flex;

    align-items: center;

    width: 300px;
    height: 450px;
    // img {
    //   max-height: 100%;
    //   max-width: 100%;
    // }
  }

//   .info{
//     display: flex;
//     flex-wrap: wrap;
//     color: aquamarine;
//   }