.parent-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding: 100px;
  
  .card-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, minmax(0, 1fr));
    gap: 10px;
    justify-content: center;
    background-color: #f5f5f5;
    width: 400px;
    height: 400px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

    .offer-details-container {
      grid-column: 1 / span 2;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 10px;
      text-align: center;

      .offer-text {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 10px;
      }

      .offer-details {
        font-size: 14px;
        margin-bottom: 5px;
      }
    }

    .outer-card {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: #fff;
      width: 90%;
      height: 90%;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

      .inner-card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        img {
          width: 50%;
          height: auto;
          border-radius: 50%;
          margin-bottom: 10px;
        }

        .name {
          font-weight: bold;
          margin-bottom: 10px;
        }
      }

      .button-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;

        button {
          background-color: #007bff;
          border-color: #007bff;
          color: #fff;
          border-radius: 5px;
          padding: 5px 10px;
          margin-left: 10px;
          cursor: pointer;
          margin-top: 10px;

          &:hover {
            background-color: #0069d9;
            border-color: #0062cc;
          }
        }
      }
    }

    .current-offer-author-container {
      grid-column: 1 / span 2;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 10px;
      text-align: center;

      .current-offer-author-text {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 10px;
      }

      .current-offer-author-details {
        font-size: 14px;
        margin-bottom: 5px;
      }
    }
  }
}

.button-container {
  display: flex;
}

.button-left-align {
  margin-left: auto;
  margin-top: 5px;
}