.containerReminder{
    display: flex;

    .register{
        display: flex;
        justify-content: center;
        font-size: 22px;
        width: 40%;
        margin: 5%;
        padding: 2%;
        border: 1px solid grey;
        border-radius: 15px;
        .b{
            font-size: 22px;
        }
    }

    .login{
        display: flex;
        justify-content: center;
        font-size: 22px;
        width: 40%;
        margin: 5%;
        padding: 2%;
        border: 1px solid grey;
        border-radius: 15px;
        .b{
            font-size: 22px;
        }
    }
}