.card {
    /* margin: 20px; */
    border: 1px solid #ddd;;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .card-body {
    display: flex;
    flex-wrap: wrap;
  }
  
  .card-img-top {
    height: 100%;
    width: 300px;
    object-fit: cover;
    border-radius: 4px 0 0 4px;
  }
  
  .card-title {
    font-size: 1.25rem;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 0.5rem;
  }
  
  .card-text {
    margin-top: 0;
    margin-bottom: 1rem;
  }
  
  .offer-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
    border-top: 1px solid #dee2e6;
  }
  
  .offer-row .text-center {
    flex-basis: 0;
    flex-grow: 1;
    text-align: center;
  }
  
  .offer-row .text-center:first-child {
    text-align: left;
    padding-left: 1rem;
  }
  
  .offer-row .text-center:last-child {
    text-align: right;
    padding-right: 1rem;
  }
  
  .offer-row .text-center button {
    margin-left: 1rem;
  }
  

  