.my-specific-form {
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;

  .row {
    margin-bottom: 1rem;
  }

  .col {
    margin: 0 auto;
  }

  button {
    display: block;
    margin: 1rem auto 0;
  }
}

.star-symbol {
  color: rgb(192, 192, 10);
  font-size: 40px;
}
.card-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  
  div {
    font-size: 22px;
  }

  .card {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

    .spinner-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
    }

    .row {
      width: 100%;
      margin-bottom: 10px;
      // text-align: center;

      .col {
        font-size: 22px;
        
        color: #333;
      }

      .bolded-span {
        font-weight: bold;
      }
    }
  }
}