.offer-card-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  grid-gap: 170px;
  padding: 0 100px 0 0;

}

.offer-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  border-radius: 10px;
  padding: 30px;
}

.author-card {
  border: none;
  margin-top: 20px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.author-photo {
  border-radius: 50%;
}

.offer-card-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.offer-card-info>* {
  margin-bottom: 1rem;
}

.offer-card-info>*:last-child {
  margin-bottom: 0;
}


.review-form-wrapper {
  text-align: left;
  font-size: 1.2rem;
  font-weight: bold;

  .review-form-container {
    form {
      label {
        margin-bottom: 0.5rem;
      }

      input,
      textarea {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-bottom: 1rem;

        &:focus {
          outline: none;
          border-color: blue;
        }
      }

      button[type="submit"] {
        margin-top: 1rem;
        margin-left: auto;
        margin-right: auto;
        display: block;
      }
    }
  }
}

.toast-container {
  position: fixed;
  top: 53px;
  right: 0;
  width: 320px;
  z-index: 9999;
}