.containerJob {
  margin-top: 200px;
  display: flex;
  justify-content: center;
  align-items: center;

  .text-center {
    margin-top: 10px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 45px;
  }

  .form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .form-content {
    width: 50%;
  }

  .btn {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
  }

  .uploaded-images {
    display: flex;
    flex-wrap: wrap;
  }

  .uploaded-image-container {
    position: relative;
  }

  .uploaded-image {
    border-radius: 2px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .remove-image-btn {
    position: absolute;
    top: -20px;
    right: -6px;
    padding: 0 10px;
    font-size: 10;
    width: 40px
  }

}