.user-infoo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  
  h1 {
    margin-bottom: 2rem;
    margin-top: 2rem;
  }

  form {
    width: 100%;
    max-width: 40rem;

    .form-group {
      margin-bottom: 1rem;
    }

    .form-label {
      font-weight: bold;
    }

    .form-control {
      background-color: #f2f2f2;
      border: none;
      border-radius: 0.25rem;
      color: #333;
      padding: 0.5rem;
    }

  }
  .btn {
    margin-top: 15px;
    margin-right: 15px;
  }
}
