.user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  margin: 0;
  padding: 0;

  h1 {
    margin-bottom: 1rem;
  }

  form {
    max-width: 40rem;
    width: 100%;

    button {
      margin-top: 1rem;
    }

    &:last-child {
      button {
        margin-bottom: 0;
      }
    }
  }
}