.history-header-text{
    display: flex;
    justify-content: center;
    margin: 20px 0px;
    font-size: 40px;
}
.card-container-history-user {
    padding: 20px 0px;
   
    .history-card-body {
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
    }

    .outer-card {
        width: 80vw;
        margin: 30px auto;
        scale: 1.2;
    }

    .advertisement-card-history {
        scale: 0.85;
        padding: -30;
    }
}