.OfferCard {
    max-width: 500px;
    max-height: 250px;
    margin: 0px 0px 40px 0px;
    background-image: linear-gradient(to right top, #ade8f4, #ade8f4, #ade8f4, #ade8f4, #ade8f4, #abe7f4, #a8e7f3, #a6e6f3, #a1e5f2, #9be3f1, #96e2f0, #90e0ef);

    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;
  }
  
//   .OfferCard .card-body {
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
//   }
  
//   .OfferCard .row {
//     margin: 5px 0;
//   }
  
  .OfferCard .col:first-child {
    font-weight: bold;
  }
  
  .OfferCard .col:last-child {
    text-align: right;
  }
  
  .OfferCard .button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }
  
  .OfferCard .button-wrapper button {
    margin: 0 5px;
  }
  
  .centered-button-text{
    display: flex;
    justify-content: center;
    align-items: center;
  }