.OfferCard {
    max-width: 500px;
    max-height: 250px;
    margin: 0px 0px 40px 0px;
    background-image: linear-gradient(to left bottom, #dee2e6, #d5d9de, #cbd1d6, #c2c8cf, #b9c0c7, #acb3bb, #9fa7ae, #939aa2, #80878f, #6d747b, #5b6269, #495057);

    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;
  }
  
//   .OfferCard .card-body {
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
//   }
  
//   .OfferCard .row {
//     margin: 5px 0;
//   }
  
  .OfferCard .col:first-child {
    font-weight: bold;
  }
  
  .OfferCard .col:last-child {
    text-align: right;
  }
  
  .OfferCard .button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }
  
  .OfferCard .button-wrapper button {
    margin: 0 5px;
  }
  
  .centered-button-text{
    display: flex;
    justify-content: center;
    align-items: center;
  }