.NavBar{
    background-color: rgb(205, 204, 204);
    // background-color: rgb(233, 14, 14);
    display: flex;
    

    .NavLink{
        color: white;
        font-size: 24px;
    }

    .test{
        display: flex;
        .NavLink{
            justify-content: flex-end;
        }

        
    }
}