.card-container {
    max-width: 600px;
    margin: 0 0px 0 93px;
    padding: 100px;
    top: 20px;
}

.carousel-image , .current-job-ad-single-image {
    height: 400px; 
    width: auto;
    object-fit: contain;
    max-width: 100%;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    grid-row-gap: 8px;
    margin-top: 16px;
}

.grid-item {
    text-align: left;
    font-size: 18px;
}