.CurrentReviewComponentHistory {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 500px;
    width: 320px;
    margin: 0 60 0 30;
    border-radius: 10px;
    border: 1px solid gray;
    
    
    .card {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 20px;
      box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
      overflow: scroll;
      background-image: linear-gradient(to left bottom, #dee2e6, #d5d9de, #cbd1d6, #c2c8cf, #b9c0c7, #acb3bb, #9fa7ae, #939aa2, #80878f, #6d747b, #5b6269, #495057);
      
      .card-title {
        font-size: 1.2rem;
        font-weight: bold;
        margin-bottom: 10px;
      }
      
      .card-subtitle {
        font-size: 1rem;
        color: #666;
        margin-bottom: 10px;
      }
      
      .card-text {
        font-size: 1rem;
        margin-bottom: 10px;
      }
    }

    .card::-webkit-scrollbar{
      display: none;
    }
  }
  