.password-change-form-container {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 60px;

  .password-change-form-header {
    text-align: center;

  }

h1.password-change-form-header {
  margin-bottom: 2rem;
}
.password-change-form {
  .btn {
    display: block;
    margin: 0 auto;
    margin-top: 1rem;
  }
}
.form-control {
  background-color: #f2f2f2;
  border: none;
  border-radius: 0.25rem;
  color: #333;
  padding: 0.5rem;
  width: 650px;
}
}
