.toast-container {
    position: fixed;
    top: 53px;
    right: 0;
    width: 320px;
    z-index: 9999;
  }

  .alerts-login{
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    height: 30px;
    width: 100%;
    padding: 0;
    margin-bottom: 30px;


    .alert {
        padding: 0px;
    }

    .alertCustom{
        height: 45px;
        margin: 5px 0px 15px 0px;
        .inner-alert {
            height: 40px;
            padding: 0px 10px 0px 10px;
            display: flex;
            justify-content: center;
            align-items:center ;
        }
    }
  }