.container-for-leaving-a-review {
  margin-top: 180px;
  div {
    font-size: 22px;
  }
  overflow-x: hidden;
    .row {
      .col-8 {
      display: flex;
      justify-content: space-between;
      gap: 5vw;
    }

    >div:nth-child(2) {
      margin: 100px 0;
    }
  }
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; 
}

.spinner {
  width: 3rem;
  height: 3rem;
}