.OfferCard {
    max-width: 500px;
    max-height: 250px;
    margin: 0px 0px 40px 0px;
  }
  
  .OfferCard .col:first-child {
    font-weight: bold;
  }
  
  .OfferCard .col:last-child {
    text-align: right;
  }
  
  .OfferCard .button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }
  
  .OfferCard .button-wrapper button {
    margin: 0 5px;
  }
  
  .centered-button-text{
    display: flex;
    justify-content: center;
    align-items: center;
  }