.footer {
  font-size: 14px;
  // background-color: #495057;
  background-image: url("../../images/footer-background.jpg");
  background-size: 100% auto;
  background-position: center;
  background-repeat: no-repeat;
  // width: 100vw;
  padding: 20px 0px;
  color: black;
  font-weight: 800;

  p {
    margin-bottom: 0;
  }
}