.footer {

  margin-top: 28px;
  margin-bottom: 10px;
  font-size: 14px;
  background-image: radial-gradient(circle, #f8f9fa, #f3f5f6, #eef0f3, #e9ecef, #e4e8eb, #dee2e6, #d8dde1, #d2d7dc, #c9ced4, #bfc6cc, #b6bdc5, #adb5bd);

  p {
    margin-bottom: 0;
  }
}