  .checkbox {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    margin-bottom: 10px;
    
    

    input[type="checkbox"] {
      width: 1.5rem;
      height: 1.5rem;
      margin-right: 10px;
      background-color: #F4FDE9;
    }
  }
  h1 {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
    background-color: #c8d5b9;
  }
  .checkbox-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: #c8d5b9;
  }
  .container-checkbox {
    background-color: #c8d5b9;
    height: 915px;
    width: 100%;
    padding-top: 10px;
  }
  // .btn {
  //   margin-top: 1rem;
  //   width: 20%;
  //   background-color: #f4fde9;
  //   border: 1px solid black;
  //   color: black;
  //   transition: all 0.3s ease;

  //   &:hover {
  //     background-color: white;
  //     color: black;
  //   }
  // }